PORT=3000
NODE_ENV=production
SUPABASE_URL=https://fuwowjjjyzzwqogzpcfn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1d293ampqeXp6d3FvZ3pwY2ZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyOTc2ODAsImV4cCI6MjA5OTg3MzY4MH0.C7cfS6aHqGEyaW6MYwu7yXwP1DUOXIFLP24RGJZbaCQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1d293ampqeXp6d3FvZ3pwY2ZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDI5NzY4MCwiZXhwIjoyMDk5ODczNjgwfQ.5-ucSAhRZRt5KuNouh04Nvv36alZVmE9Neo1GUnrpt0
BASE_URL=https://image.aanzload.my.id
